:root {
  --map-background-color: rgb(169, 255, 255);
  --map-edge-colour: rgb(148, 255, 148);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Style for  */
.padding {
  padding: 10px;
}

/* Flex styles */
.flex_box {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 5px;
}

.flex_grow {
  flex-grow: 1;
}

/* Display styles */
.display {
  resize: none;
  border: solid 1px;
  border-radius: 3px;
  padding: 5px;
}

.display--map {
  padding: 15px;
}

.display--text {
  white-space: pre-wrap;
}

.control_box {
  resize: none;
  height: 1.8rem;
  width: 100%;
  overflow: hidden;
}

.game_map {
  display: block;
  min-width: 270px;
  letter-spacing: 8px;
  font-family: monospace;
  white-space: pre;
}

.gradient_border {
  border: 4px solid transparent;
  border-radius: 4px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: radial-gradient(
      circle at center,
      var(--map-background-color),
      var(--map-edge-colour)
    ),
    radial-gradient(circle farthest-corner, #091399, #ee0979);
}
